:root {
  --primaryFont: 'Nunito Sans', sans-serif;
  --primaryBg: #fff;
  --bodyBg: #fafafa;
  --primaryTextClr: #111517;
  --secondaryTextClr:#fff; 
  --loaderBg: #ebebeb;
  --shadowClr: rgb(0 0 0 / 3%)
}
